.text-waper {
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: row;
}

.label-waper {
  text-align: right;
  padding-right: 10px;
}

.checkbox-waper,
.checkbox-label-waper {
  display: inline-block;
  white-space: nowrap;
}
.checkbox-list {
  display: flex;
}

.colorbox {
  width: 20px;
  height: 20px;
  border: solid 1px #cbcbcb;
  border-radius: 50%;
}

.color-list {
  display: flex;
  flex-direction: row;
}

.panel {
  border: solid 1px #cbcbcb;
  border-radius: 2px;
}

.panel-header {
  height: 35px;
  line-height: 35px;
  width: 100%;
  font-size: 12px;
  border-bottom: solid 1px #cbcbcb;
  background-color: #fafafa;
  cursor: pointer;
}
.panel-header span {
  margin-left: 10px;
}
.panel-header svg {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  transition: all 0.3s;
}
.panel-body {
  border-top: none;
  overflow: hidden;
  transition: all 0.3s;
}
.panel-body-content {
  padding: 10px;
}
